html, body {
    margin: 0;
    background-color: #CAF0F8;
    color: #03045E;
    font-family: 'Exo 2', 'Roboto', sans-serif;
    line-height: 1.4;
}
/* general styles */
section {
  padding: 8vh 0;
}
.darker {
  background-color: #00B4D8;
}
/* nav related */
header {
    display: flex;
    align-items: center;
    padding: 1px;
    margin: 0;
}
nav {
    margin: 0 0 0 auto;
}
ul li {
    display: inline-block;
    list-style-type: none;
    padding: 25px 20px;
}
li a {
    text-decoration: none;
    /* must be repeated to override user agent */
    color: #03045E;
}
li a:hover {
    text-decoration: underline;
    color: #0077B6;
}
.logo {
    width: 50px;
    margin: 0 0 0 20px;
    cursor: pointer;
}
.ending-nav {
    padding-right: 40px;
}
/* fixed width container encompassing all of the home page */
.fixed-width-container {
    width: 80vw;
    margin: 0 auto;
}
/* typography */
h1, h2, h3 {
    text-align: center;
    margin: 0;
}
img, p {
  text-align: center;
}
 h1 {
    font-size: 4rem;
}
.side .fancy {
    display: block;
    font-size: 12vw;
    font-style: italic;
    background: -webkit-linear-gradient(in lch, #b2f5ff, #3189c5);
    /* random webkit gradient boilerplate that must be repeated */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
/* other bg is #0ca096 */
/* hero section */
.hero {
    position: relative;
    height: 80vh;
    /* override default section padding */
    padding: 0; 
}
.hero-wrapper {
    position: relative;
    display: flex;
}
.side {
    display: grid;
    overflow: hidden;
    place-items: center;
    position: absolute;
    width: 100%;
    flex: 1;
  }
  .side .hero-title {
    font-size: 10vw;
    margin: 0 15vw;
    width: 70vw;
    text-shadow: 5px 1px 6px #5ad5fe;
    color: #CAF0F8;
  }
  #left-side {
    background-color: #03045E;
    height: 80vh;
    z-index: 2;
  }
  #left-side .fancy {
    background: -webkit-linear-gradient(in lch, #b2f5ff, #3189c5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 6px 1px 10px rgba(255,255,240,0.15);
  }
  
  #right-side {
    background-color: #0ca096;
    height: 80vh;
  }
  
  #right-side .hero-title {
    color: #90E0EF;
    text-shadow: -5px 1px 6px #5ad5fe;
  }
  
  #right-side .fancy {
    background: -webkit-linear-gradient(in lch, #0ca096, #FF69B4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    text-shadow: -6px 1px 10px rgba(255,255,240,0.15);
  }
  /* about clubs */
  .clubs-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 25px;
  }
  .club-card {
    /* for some reason the images dont center without saying text-align center again */
    text-align: center;
    border-radius: 12px;
    padding: 20px;
    width: 500px;
    background-color: #90E0EF;
    box-shadow: 5px 6px 4px rgba(0, 0, 0, 0.4);
  }
  .club-card:hover {
    transform: scale(1.05);
  }
  /* footer */
  footer {
    padding: 1px;
  }
/* utility */
.bottom-spacing-big {
  margin-bottom: 6vh;
}
.bottom-spacing-small {
  margin-bottom: 3vh;
}
.border {
  border: solid red;
}