html, body {
    margin: 0;
    background-color: gray;
    font-family: 'Exo 2', 'Roboto', sans-serif;
}
/* nav related */
header {
    display: flex;
    background-color: #1B1212;
    align-items: center;
    padding: 1px;
    margin: 0;
}
nav {
    margin: 0 0 0 auto;
}
ul li {
    display: inline-block;
    list-style-type: none;
    padding: 25px 20px;
}
li a {
    text-decoration: none;
    color: ivory;
}
li a:hover {
    text-decoration: underline;
    color: #9fefff;
}
.logo {
    width: 50px;
    margin: 0 0 0 20px;
    cursor: pointer;
}
.ending-nav {
    padding-right: 40px;
}
/* fixed width container encompassing all of the home page */
.fixed-width-container {
    width: 570px;
    text-align: center;
    margin: 0 auto;
}
/* typography */
h1, h2 {
    text-align: center;
}
 h1 {
    margin: 0;
    text-align: center;
    font-size: 4rem;
}
.side .fancy {
    display: block;
    font-size: 12vw;
    font-style: italic;
    background: -webkit-linear-gradient(in lch, #b2f5ff, #3189c5);
    /* random webkit gradient boilerplate that must be repeated */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
/* other bg is #0ca096 */
/* hero section */
.hero {
    position: relative;
    height: 80vh;
}
.hero-wrapper {
    position: relative;
    display: flex;
}
.side {
    display: grid;
    overflow: hidden;
    place-items: center;
    position: absolute;
    width: 100%;
    flex: 1;
  }
  .side .hero-title {
    font-size: 10vw;
    margin: 0 15vw;
    width: 70vw;
    text-shadow: 5px 1px 6px #5ad5fe;
    color: #1B1212;
  }
  #left-side {
    background-color: #064b7f;
    height: 80vh;
    z-index: 2;
  }
  #left-side .fancy {
    background: -webkit-linear-gradient(in lch, #b2f5ff, #3189c5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 6px 1px 10px rgba(255,255,240,0.15);
  }
  
  #right-side {
    background-color: #0ca096;
    height: 80vh;
  }
  
  #right-side .hero-title {
    color: ivory;
    text-shadow: -5px 1px 6px #5ad5fe;
  }
  
  #right-side .fancy {
    background: -webkit-linear-gradient(in lch, #0ca096, #FF69B4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    text-shadow: -6px 1px 10px rgba(255,255,240,0.15);
  }
  /* about clubs */
  
/* utility */
.border-blue {
    border: solid blue;
}